
$body-color: #333;
$body-bg: rgba(#000,0.01);
$border-radius: .2rem;
$primary: #660C6E;
$navbar-light-hover-color: $primary;
$navbar-nav-link-padding-x: 1rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider:                quote(">") ;

$grey-border: rgba(0,0,0,0.1);
$section-padding: 80px;
$font-family-planify: "planify";